username: <username>
token: <token>
settings:
  check_time: 5 # seconds
projects:
  - project_name_1:
    url: https://github.com/xxx/yyy
    path: <localpath>
    branch: stage
    check: <check.sh> # run script if check print "start_deployment"
    script: <run bash script after handle and pull changes>